<p id="notice"><%= notice %></p>

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<table id="customers">
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>Endereco</th>
    <th>Telefone</th>
    <th></th>
        <th></th>
            <th></th>
  </tr>
   <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.nome %></td>
        <td><%= projeto.matricula %></td>
        <td><%= projeto.endereco %></td>
        <td><%= projeto.telefone %></td>
        <td><%= link_to 'Mostrar', projeto %></td>
        <td><%= link_to 'Editar', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Deletar', projeto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2><%= link_to 'Novo Cadastro', new_projeto_path %></h2>
